.previous-arrow,
.next-arrow {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.previous-arrow {
  left: 25px;
}

.next-arrow {
  right: 25px;
}

.carousel {
  display: flex;
  align-items: center;
}

.picture {
  position: relative;
  width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 24px;
}

.counter {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  color: white;
  left: 50%;
  top: 50%;
}

@media (max-width: 500px) {
  .picture {
    width: 335px;
    height: 255px;
    margin: 20px auto auto;
  }

  .next-arrow,
  .previous-arrow {
    width: 12px;
  }
}

//TODO: change position for arrows
