@import "../utils/variables.scss";

.chevron {
  cursor: pointer;
}

.chevron-open {
  transform: rotate(180deg);
}

.dropdownContainer {
  max-width: 1023px;
  margin: auto;
}

.dropdown-title {
  background-color: $red;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
}

.collapse-title {
  color: white;
  margin: 0;
  font-weight: 500;
}

.dropdown-open {
  display: block;
  background-color: $grey;
  padding: 36px 18px;
  border-radius: 0 0 10px 10px;
  font-weight: 400;
}

.dropdown-close {
  display: none;
}
