@import "../utils/variables.scss";

.chevron, .dropdown {
  cursor: pointer;
}

.chevron-open {
  transform: rotate(180deg);
}

.collapse-title {
  color: white;
  margin: 0;
  font-weight: 500;
}

.dropdown-open {
  display: block;
  position: relative;
  z-index: -10;
  margin-top: -8px;
  background-color: $grey;
  padding: 40px 18px;
  border-radius: 0 0 5px 5px;
  font-weight: 400;
}

.dropdown-close {
  display: none;
}

.dropdown-text {
  font-size: 18px;
}

@media (max-width: 768px) {
  .dropdown-open {
    padding: 20px 18px 40px;
  }

  .collapse-title {
    font-size: 13px;
  }

  .dropdown-text {
    font-size: 12px;
  }
}
