@import "../utils/variables.scss";

#header {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.navLink {
  color: $red;
  font-size: 24px;
  font-weight: 500;
  margin-left: 57px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

@media (max-width: 1245px) {
  #header {
    width: 96%;
  }
}

@media (max-width: 800px) {
  .navLink {
    margin-left: 30px;
  }
}

@media (max-width: 500px) {
  .navLink {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
  }

  .logo {
    width: 40%;
  }

  .navbar {
    margin: 0;
    padding: 20px 20px 0;
  }
}
