@import "../utils/variables.scss";

.appartment {
  &-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    font-size: 36px;
    font-weight: 500;
    margin: 15px 0 0;
  }

  &-location {
    font-size: 18px;
    margin-top: 5px;
  }

  &-host {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;

    &-infos {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
    }

    &-picture {
      border-radius: 50%;
      width: 64px;
      margin-left: 10px;
    }

    &-name {
      font-size: 18px;
      text-align: end;
      width: min-content;
    }
  }
}

.rating {
  margin-top: 20px;
}
.tags-list {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.appartment-collapse {
  width: 100%;
  max-width: 582px;
  line-height: 1.6;

  &-title,
  &-text,
  &-list {
    font-size: 18px;
  }
  &-dropdown {
    height: 170px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
  }

  &-dropdown-title {
    border-radius: 5px;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
}
.tag {
  margin-right: 20px;
  background-color: $red;
  padding: 4px 32px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 950px) {
  .appartment {
    &-infos {
      flex-direction: column;
    }
    &-host {
      flex-direction: row-reverse;
    }
    &-presentation {
      text-align: center;
    }
  }

  .tags-list {
    margin: 20px auto auto;
    flex-wrap: wrap;
  }

  .tag {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .appartment {
    padding: 0 20px;

    &-title {
      font-size: 18px;
    }

    &-location {
      font-size: 14px;
    }

    &-presentation {
      width: 100%;
      text-align: start;
    }
    &-host {
      width: 100%;
      justify-content: space-between;

      &-name {
        font-size: 12px;
      }

      &-picture {
        width: 32px;
      }
    }

    &-collapse {
      margin-bottom: 20px;

      &-dropdown-title {
        padding: 8px;
      }
    }
  }

  .description {
    flex-direction: column;
  }

  .tags-list {
    margin: 20px 0;
  }

  .tag {
    font-size: 10px;
    padding: 4px 10px;
  }
}
