@import "../utils/variables.scss";

#not-found-page {
  text-align: center;
}
.error-code {
  font-size: 288px;
  margin: 277px auto 0;
}

.error-text {
  font-size: 36px;
  margin-bottom: 182px;
}

.home-link {
  color: inherit;
  font-size: 18px;
}
