@import "../utils/variables.scss";

.banner {
  margin: 43px 0 43px;
}

.appartments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 50px;
  background-color: $grey;
  border-radius: 25px;
}

.card-link {
  display: block;
}

.loader {
  position: absolute;
}
