@import "../utils/variables.scss";

.banner {
  margin: 43px 0 43px;
}

.appartments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 50px;
  background-color: $grey;
  border-radius: 25px;
}

.card {
  margin-bottom: 50px;
}

.card-link {
  display: block;
}

.loader {
  position: absolute;
}

@media (max-width: 800px) {
  .appartment-card {
    margin: auto;
  }
}

@media (max-width: 500px) {
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .appartments-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .card {
    margin-bottom: 20px;
    max-width: 335px;
    max-height: 255px;
  }

  .banner {
    margin-top: 16px;
    margin-bottom: 22px;
  }
}
