@import "./variables";

#header {
  max-width: 1240px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.navLink {
  color: $red;
  font-size: 24px;
  font-weight: 500;
  margin-left: 57px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}
