@import "./variables.scss";

.appartments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 50px;
  background-color: $grey;
  border-radius: 25px;
}

.card-link {
  display: block;
}
