@import "src/styles/Home.scss";
@import "src/styles/Header.scss";
@import "src/styles/Footer.scss";
@import "src/styles/Root.scss";
@import "src/styles/NotFound.scss";

body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
