@import "./variables.scss";

main {
  max-width: 1240px;
  margin: auto auto 188px;
}

body {
  color: $red;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
